[submodule "RPDR_Pegasus"]
	path = RPDR_Pegasus
	url = git@changit.bwh.harvard.edu:resta/RPDR_Pegasus.git
[submodule "RPDR_Priya"]
	path = RPDR_Priya
	url = git@changit.bwh.harvard.edu:resta/RPDR_Priya.git
[submodule "GWAS"]
	path = RPDR_GWAS
	url = git@changit.bwh.harvard.edu:resta/RPDR_GWAS.git
